<html>
    <head>
        <title>Open Weather Application</title>
        <link rel="stylesheet" text="text/css" href="/css/style.css">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div class="web-app">
            <h1 class="heading">Weather Detector</h1>
            <form action="/" method="post">
              <input type="text" name="city" placeholder="Enter a city....."><br /><br />
              <button type="submit">Get Weather</button><br /><br />
            </form>
            <% if(weather !== null){ %>
                <p><%= weather %></p>
              <% } %>
      
              <% if(error !== null){ %>
                <p><%= error %></p>
              <% } %>
    </body>
    <script src="server.js"></script>
</html>