* {
  margin: 0;
  padding: 0;
  font-weight: normal;
  text-align: center;
  background-color: SlateBlue;
}

button {
  cursor: pointer;
  color: red;
}
 
input {
  -webkit-appearance: none;
}
 

input {
  border: 5px;
  background: white;
  outline: 5px;
  color: black;
  margin: 10px;
  padding: 5px 40px 5px 40px;
}

button {
  border: 5px;
  background:red;
  outline: 5px;
  color: white;
  padding: 3px 10px 3px 10px;
}

body {
  color: black;
  padding: 50px;
  text-align: :center;
}

.web-app {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.heading {
  font-weight: bold;
  font-size: 3rem;
  letter-spacing: 0.01em;
  padding: 0 0 30px 0;
  color: white;
}

        